# JWT Configuration
# Generate a 256-bit (32 bytes) secret key and encode it in Base64
# Example: echo -n "your-32-char-secret-key-here" | base64
JWT_SECRET_KEY=your_secret_key
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Eureka
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=your_eureka_url
