# JWT Configuration
# Generate a 256-bit (32 bytes) secret key and encode it in Base64
# Example: echo -n "your-32-char-secret-key-here" | base64
JWT_SECRET_KEY=dGhpc2lzYXZlcnlsb25nc2VjcmV0a2V5Zm9yand0dG9rZW5nZW5lcmF0aW9uYW5kZGVjcnlwdGlvbg==
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=kakarot1996

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Eureka
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka/
